* {
    margin: 0;
    padding: 0;
    /* Instructs the browser to ignore padding in the overall width*/
    box-sizing: border-box;
  }

/* styling header */
header {

 
background-color: black; 
padding: 30px 30px;  
display: flex;
justify-content: space-between; 
flex-wrap: wrap; 


}

/* styling body */

body {

    font-family: Arial, Helvetica, sans-serif; 
    background-color: lightcyan;
}

/* styling h1 element of header and added a text-shadow but the black background makes it not show */

header h1 {

font-weight: bold; 
font-size: 36px; 
margin: 0; 
text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
text-decoration: none;

}

/* styling header elements */
header a {

  color: lightblue;
  vertical-align: 150%;

}



/* underlining the header nav element text */
header nav {

    margin: 7px 0; 
    text-decoration: underline;


}
 /* aligning the header text to the right with some space between it */
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: right;
    list-style: none; 
    
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    /* text shadow */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


  /* css to highlight the header when hovering over it */
  header nav ul li a:hover {
    background: teal;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }

section {

    padding: 125px; 
}




  /* Hero Style Start - image is in the css in the hero image */

  .hero {
    
    background-image: url("../images/bballbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    background-attachment: fixed;
    position: relative;

  }

  /* css to get the label propery in the bottom right hand corner */
  .hero h2 {

    color: black; 
    font-size: 100px;
    text-align: right;
    position: absolute;
    bottom: 8px; 
    right: 16px; 


  }

/* css to style the paragraph in the about me section */
  .intro-about-me p {

    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;

  }

/* styling all the sections  */
  .section-title {

    font-size: 48px;
    color: black;
    border-right: 3px solid; 
    float: left;
    /* setting the margin on the about me, work, and contact me */
    margin: 0 15px 35px 50px;
    padding: 0 50px 20px 0px;
    width: 35%;
    position: static; 


  }
/* creating the line thats infront of the diffrenet sections */

  .primary-border {

    border-color: black;
    padding-right: 50px; 
  }

  .flex-row {

    padding: 50px 50px 20px 0px;

    
  }

  /* Hero Style End */

/* aligning the footer sections */

 .footer {

    align-content: flex-end;
 }
 
  .footer li {

  
  display: inline;
  justify-content: center;
  align-items: right;
  list-style: none;
  text-align: right; 
  }

  .grid-container {
    display: grid;
    justify-content: center;
    align-items: right;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
 

    }
    
    .div1 {
        display: flex;
        justify-content: right;
        margin: 5px auto;
        border-radius: 5px;
        font-size: 35px;
        width: 50%;
        
      }

      .div2 {
        display: flex;
        justify-content: right;
        margin: 5px auto;
        border-radius: 5px;
        font-size: 35px;
        width: 25%;
        
      }

      .div3 {
        display: flex;
        justify-content: right;
        margin: 5px auto;
        border-radius: 5px;
        font-size: 35px;
        width: 50%;
        
      }

      .div4 {
        display: flex;
        justify-content: right;
        margin: 5px auto;
        border-radius: 5px;
        font-size: 35px;
        width: 25%;
        
      }

      /* media queriess for smaller windows  */

      @media screen and (max-width: 768px) {

        .grid-container {
          grid-template-columns: 1fr 1fr;
        }

        .div1 {

            grid-column: 1; 
        }

        .div2 {

            grid-column: 1; 
        }

        .div3 {

            grid-column: 1; 
        }

        .div4 {

            grid-column: 1; 
        }

        .section-title {

            font-size: 48px;
            color: black;
            border-right: 3px solid; 
            float: left;
            /* setting the margin on the about me, work, and contact me */
            margin: 0 15px 35px 50px;
            padding: 0 50px 20px 0px;
            position: static; 
        
        
          }
       

      
    }
      
      /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
      @media screen and (max-width: 575px) {
      
      
        .section-title {
          width: 100%;
        }
      
    
      
        .grid-container {
          flex: 0 100%;
        }
      
    
    }
      
      

     